body {
    background: rgb(114, 114, 224);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

input[type='button'] {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
}

#conteudo,
#res {
    text-align: center;
}

#foto {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
}

.alerta {
    background: #f44336;
    color: white;
    padding: 30px;
    width: 470px;
    margin: auto;
    border-radius: 10px;
}